.restaurantImages {
  height: 250px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
h1 {
  color: black;
}

.header {
  background-color: #06c167;
  height: 50px;
}

.underEats {
  text-decoration: none;
}

.entries {
  height: 400px;
  margin: 20px;
  border: 2px solid gray;
  width: 40%;
  border-radius: 20px;
}

.container {
  padding: 10px;
  height: 380px;
}
.nameRating {
  display: inline;
  margin-bottom: 0;
}

.nameLink {
  width: 65%;
  display: inline-block;
}

.rating {
  width: 30%;
  display: inline-block;
}
